body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: hsla(177, 68%, 57%, 0.92);
}

article,
footer {
    background-color: lightpink;
    
}

article {
    padding: 0 10px;

}

footer {
    flex-direction: column;
    gap: 20px;
}

main {
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: rgb(117, 101, 57);
}

a:hover {
    text-decoration: underline;
}
